/* GLOBAL RULES */

body {
  font-family: "Trip Sans", sans-serif;
}

button {
  font-family: inherit;
}

input {
  border: none;
  outline: none;
}

.container {
  width: 1136px;
  margin: 0 auto;
  /* border: solid red 1px; */
}

h1 {
  margin-top: 30px;
  font-size: 54px;
  font-weight: bold;
}

/* HEADER */
html {
  scroll-behavior: smooth;
}

header {
  height: 60px;
  border: solid black 1px;
  display: flex;
  align-items: center;
  /* position: fixed; */
  width: 100vw;
  margin-bottom: 100px;
  opacity: 1;
  margin-bottom: 20px;

  background-color: white;
  z-index: 42;
}

header img {
  height: 42px;
  margin-right: 30px;
}

header > div {
  display: flex;
  justify-content: space-between;
}

.left-header {
  display: flex;
  /* border: solid green 1px; */
  align-items: center;
}

.left-header > div {
  width: 350px;
  height: 42px;
  border: solid #e0e0e0 1px;
  display: flex;
  align-items: center;
  border-radius: 21px;
  padding: 0 10px;
}
.hidden-when-large {
  display: none;
}

.left-header input {
  flex: 1;
  margin-left: 10px;
}

.right-header {
  /* border: solid purple 1px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 360px;
}

.right-header button {
  width: 150px;
  height: 42px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 21px;
}

/* MAIN */

main {
  padding-top: 50px;
  /* height: 50px; */
}

h1 span {
  color: #ff5d5d;
}

.upper-nav {
  margin-top: 50px;
  width: 100%;
  /* border: solid blue 2px; */
  display: flex;
}

.upper-nav article {
  border: solid black 1px;
  display: flex;
  flex: 1;
  height: 68px;
  width: 136px;
  padding: 15px;
  box-sizing: border-box;
  justify-content: space-between;
  border-radius: 10px;
  flex-direction: column-reverse;
}

.upper-nav article:hover {
  background-color: black;
  color: white;
}

.pic:hover img {
  opacity: 0.8;
  cursor: pointer;
}
.pic:hover a {
  opacity: 0.6;
  text-decoration: underline;
  cursor: pointer;
}
.circle:hover {
  background-color: red;
  cursor: pointer;
}
.upper-nav article:not(:last-child) {
  margin-right: 10px;
}

.upper-nav article p {
  width: 84px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.images,
.col-1,
.col-2 {
  box-sizing: border-box;
}

.images {
  height: 430px;
  /* border: solid purple 2px; */
  margin-top: 30px;
  display: flex;
}

.images img {
  object-fit: cover;
}

.col-1 {
  width: calc(60% - 1px);
  height: 100%;
  /* border: solid brown 2px; */
  margin-right: 2px;
}

.col-2 {
  /* display: flex;
    flex-direction: column; */
  width: calc(40% - 1px);
  /* border: solid blue 2px; */
  height: 100%;
}

.col-1 img {
  height: 100%;
  width: 100%;
}

.col-2 img {
  height: calc(50% - 1px);
  width: 100%;
  display: block;
}

.col-2 img:first-child {
  margin-bottom: 2px;
}
h2 {
  /* margin-top: 10px; */
  margin-top: 20px;
  font-size: 25px;
}
/* Carrousel + Info */

.carou_info {
  margin-top: 50px;
  width: 100%;
  display: flex;
}
.left-carou {
  margin-top: 30px;
  width: 30%;
  /* border: solid purple 1px; */
  /* background-color: beige; */
}
.baseline {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 50;
}
.textbaseline {
  font-size: 15px;
  font-family: sans-serif;
}

.lienbaseline {
  margin-top: 10px;
}
.lienbaseline a {
  text-decoration: none;
  color: black;
}
.right-carou {
  margin-bottom: 20px;
  width: 70%;
  /* border: solid purple 2px; */
  display: flex;
}

.carrousel {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;

  width: 100%;
}
.pic a {
  text-decoration: none;
  color: black;
}

.pic {
  width: 32%;
  margin-right: 16px;
  height: 70%;
  flex-shrink: 0;
  position: relative;
}
.pic img {
  width: 100%;
  height: 250px;
}
.circle {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.circlebot {
  background-color: #31d599;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.circlebot img {
  width: 40px;
  display: flex;
  justify-content: flex-end;
}

.marge {
  margin-top: 20px;
}
div::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.right-carou p {
  margin-top: 10px;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer div {
  width: 100%;
  height: 150px;
  background-color: #faf1ec;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 150px;
  margin-right: 20px;
  /* margin-top: 50px; */
}
