@media (max-width: 768px) {
  .right-header {
    display: none;
  }

  .container {
    max-width: 600px;
    padding: 0 40px;
  }
  .hidden-when-large {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  h1 span {
    font-size: 50px;
    display: inline;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
  }
  .upper-nav article {
    border: solid black 1px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin-right: 10px;
  }
  .upper-nav {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .images > div {
    width: 100%;
  }
  .images > div:last-child {
    display: none;
  }

  .left-header .barre {
    display: none;
  }

  .carrousel .pic {
    width: 100%;
  }
  .left-carou {
    width: 30%;
    margin-right: 15px;
    box-sizing: border-box;
  }
}
